<div class="main-container" style="margin: 50px;">
  <div class="flex-container" style="display: flex; justify-content: center; margin: 50px 0;">
    <div class="image-container" style="flex: 1; text-align: center;">
      <p>ここにアバター画像を置きます</p>
    </div>
    <div class="intro-container" style="flex: 1; text-align: center;">
      <h2>自己紹介</h2>
      <p>自分の自己紹介文が入ります。</p>
      <div class="actions">
        <%= button_to "自己紹介を編集する", edit_user_path(current_user), method: :get, style: "border: none; border-radius: 5px; padding: 10px 50px; background-color: #00608d; color: white;" %>
      </div>
    </div>
  </div>
  <div class="skills-container" style="text-align: center;">
    <h2 style="margin-bottom: 0;">スキルチャート</h2>
    <hr class="underline" style="border: 1.5px solid #ccc; margin: 10px auto 30px; width: 200px;">
    <div class="actions">
      <% if @skills.any? %>
        <% first_skill = @skills.first %>
        <%= button_to "スキルを編集する", edit_category_skill_path(first_skill.category, first_skill), method: :get, data: { turbolinks: false }, style: "border: none; border-radius: 5px; padding: 10px 50px; background-color: #00608d; color: white;" %>
      <% end %>
    </div>
    <p>ここに棒グラフを置きます</p>
  </div>
</div>