<footer style="background-color: #00608d; width: 100%; position: fixed; bottom: 0;">
  <div class="footer_container">
    <p style="color:white; text-align:center;"><%= current_user ? "#{current_user.name}'s portfolio site": "user name's portfolio site" %></p>
  </div>
</footer>