<header>
  <nav class="nav-container">
    <div class="logo">
      <%= link_to "My Portfolio", root_path, class: "logo-link" %>
    </div>
    <div class="login-button-container">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout-button" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class:"login-button" %>
      <% end %>
    </div>
  </nav>
</header>
