.chart-container {
  text-align: center;
}

.chart-h2 {
  margin-bottom: 0;
}

.chart-underline {
  border: 1px solid #7f7f7f;
  margin: 10px auto 30px;
  width: 200px;
}

.chartbar-name {
  margin: 50px auto 0;
  font-weight: bold;
  font-size: 0.5rem;
}

#myChart {
  margin-top: 10px;
  margin-bottom: 30px;
}