body{
  margin: auto;
}

.content{
  margin: 160px 50px 50px;
}

h2{
  font-weight: normal;
}

.field {
  margin-top: 30px;
  text-align: left;
}

.label-tag {
  color: gray;
  font-size: 0.75rem;
}

.submit-button {
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #00608d;
  color: white;
}