body{
  margin: auto;
}

.content{
  margin: 160px 50px 50px;
}

header {
  background-color: #00608d;
  width: 100%;
  padding: 30px;
  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.login-button-container {
  margin-top:7px;
  margin-right: 50px;
}

.login-button {
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px;
  color: #6d6d6d;
}

.login-button:hover {
  color: black;
}

.logout-button {
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px;
  color: #6d6d6d;
}

.logout-button:hover {
  color: black;
}

footer {
  background-color: #00608d;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.copyright {
  color:white;
  text-align:center;
}


h2{
  font-weight: normal;
}

.field {
  margin-top: 30px;
  text-align: left;
}

.label-tag {
  color: gray;
  font-size: 0.75rem;
}

.submit-button {
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #00608d;
  color: white;
}

.underline {
  border: 1.5px solid #ccc;
  margin: 10px auto 30px 0;
  width: 200px;
}