.categories-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
}

.category-container {
  margin: 0 auto 50px;
  padding: 50px;
  max-height: 300px; /* 例として300pxに設定 */

  /* スクロールバーを表示 */
  overflow-y: auto;
}

.scrollable {
  overflow-y: scroll;
}

.category-1, .category-2, .category-3 {
  border: 1px solid #929292;
  border-radius: 5px;
}

.category-area-and-button {
  display: flex;
  justify-content: space-between;
}

.category-name {
  margin: auto;
  font-weight: bold;
  font-size: 20px;
}

.add-skill-button, .back-button{
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #00608d;
  color: white;
}

.back-button {
  margin: 10px auto 20px;
}

table, th, td {
  padding: 8px;
}

table {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
  padding-right: 50px;
  white-space: nowrap;
  text-align: left;
  font-weight: normal;
}

td {
  position: relative;
  padding-right: 50px;
  border-top: 1px solid #e8e8e8;
}

.skill-level-tag {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 150px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.triangle-arrow {
  position: relative;
  display: inline-block;
  font-size: 12px;
  pointer-events: none;
}

.triangle-arrow::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #757575;
}

@media screen and (max-width: 1164px) {
  .triangle-arrow::before {
    top: -38px;
    right: -130px;
  }
}

/* エスケープシーケンス&#9660;を使用した場合 */
/* .triangle-arrow {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
  z-index: 1;
} */

#update-form, #delete-form {
  display:flex;
}

.update-button {
  width: 180px;
  border: 1px solid #00608d;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  color: #00608d;
}

.delete-button {
  width: 150px;
  border: 1px solid #ee6969;
  border-radius: 5px;
  padding: 5px 10px;
  background-color:#ee6969;
  color: #ffffff;
}