.addskill-container {
  width: 480px;
  height: 268px;
  margin: 0 auto;
}

.addskill-h2 {
  width: 502px;
  height: 48px;
  margin: 25px auto 50px;
  font-weight: normal;
  text-align:center;
  white-space: nowrap;
  font-size: 36px;
}

/* .addskill-field {
  border: none;
  margin-bottom: 15px;
  width: 480px;
  height: 268px;
} */

.addskill-text-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 480px;
  height: 36px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
}

.addskill-actions {
  margin-top: 10px;
  text-align: center;
}

.triangle-arrow-addskill {
  position: relative;
  display: inline-block;
  font-size: 12px;
  pointer-events: none;
}

.triangle-arrow-addskill::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 460px;
  transform: translateY(-50%) rotate(180deg);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #757575;
}

.skill-level-error-message {
  width: max-content;
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 12px;
  color: red;
}