.addskill-container {
  text-align:center;
  max-width: 300px;
  margin: 0 auto;
}

.addskill-h2 {
  font-weight: normal;
  text-align:center;
  white-space: nowrap;
}

.addskill-field {
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 15px;
  width: 300px;
}

.skill-level-select {
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 15px;
  padding-right: 180px;
}

.addskill-submit {
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #00608d;
  color: white;
}